.topbar {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: white;
  z-index: 10;
  display: flex;
  border-bottom: 1px solid #ccc;
}

.topbar h2 {
  padding: 0;
  margin: 0;
}

.content {
  padding-top: 60px;
}

.ReactTable .rt-thead.-header {
  box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.ReactTable .rt-th,
.ReactTable .rt-td {
  white-space: normal;
  color: #242424;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  opacity: 0.8;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
  border: 1px solid #f0f0f0;
}

.document-preview h2 {
  text-transform: capitalize;
}

.search-panel__results {
  padding: 0;
  margin: 0;
  list-style: none;
  height: calc(85vh - 65px);
}

.vh-85 {
  height: 85vh;
}

.viewer-container {
  height: 85vh;
  overflow: hidden;
}

/* .search-panel__results li { */
/*   border-top: 1px solid #f0f0f0; */
/* } */
